@media only screen and (max-width: 326px) and (min-width: 320px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 35.25px !important;}
    }
    @media(min-width: 327px) and (max-width: 330px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 35.25px !important;}
    }
    @media(min-width: 331px) and (max-width: 335px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 36.25px !important;}
    }
    @media(min-width: 336px) and (max-width: 340px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 37.25px !important;}
    }
    @media(min-width: 341px) and (max-width: 343px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 37.25px !important;}
    }
    @media(min-width: 344px) and (max-width: 349px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 38.25px !important;}
    }
    @media(min-width: 350px) and (max-width: 354px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 39.25px !important;}
    }
    @media(min-width: 355px) and (max-width: 361px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 40.25px !important;}
    }
    @media(min-width: 362px) and (max-width: 368px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 41.25px !important;}
    }
    @media(min-width: 369px) and (max-width: 373px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 42.25px !important;}
    }
    @media(min-width: 374px) and (max-width: 380px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 43.25px !important;}
    }
    @media(min-width: 381px) and (max-width: 386px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 44.25px !important;}
    }
    @media(min-width: 387px) and (max-width: 392px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 45.25px !important;}
    }
    @media(min-width: 393px) and (max-width: 399px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 46.25px !important;}
    }
    @media(min-width: 400px) and (max-width: 405px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 47.25px !important;}
    }
    @media(min-width: 406px) and (max-width: 410px){
    .range-labels{margin:18px -10px 0 !important;}
    .range-labels li{width: 48.25px !important;}
    }
    @media(min-width: 411px) and (max-width: 416px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 49.25px !important;}
    }
    @media(min-width: 417px) and (max-width: 422px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 50.25px !important;}
    }
    @media(min-width: 423px) and (max-width: 429px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 51.25px !important;}
    }
    @media(min-width: 430px) and (max-width: 436px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 52.25px !important;}
    }
    @media(min-width: 437px) and (max-width: 441px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 53.25px !important;}
    }
    @media(min-width: 442px) and (max-width: 449px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 54.25px !important;}
    }
    @media(min-width: 450px) and (max-width: 454px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 55.25px !important;}
    }
    @media(min-width: 455px) and (max-width: 459px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 56.25px !important;}
    }
    @media(min-width: 460px) and (max-width: 468px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 57.25px !important;}
    }
    @media(min-width: 469px) and (max-width: 474px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 58.25px !important;}
    }
    @media(min-width: 475px) and (max-width: 480px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 59.25px !important;}
    }
    @media(min-width: 481px) and (max-width: 487px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 60.25px !important;}
    }
    @media(min-width: 488px) and (max-width: 494px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 61.25px !important;}
    }
    @media(min-width: 495px) and (max-width: 500px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 62.25px !important;}
    }
    @media(min-width: 501px) and (max-width: 506px){
    .range-labels{margin:18px -13px 0 !important;}
    .range-labels li{width: 63.25px !important;}
    }
    @media(min-width: 507px) and (max-width: 512px){
    .range-labels{margin:18px -19px 0 !important}
    .range-labels li{width: 64.25px !important;}
    }
    @media(min-width: 513px) and (max-width: 516px){
    .range-labels{margin:18px -19px 0 !important;}
    .range-labels li{width: 65.25px !important;}
    }
    @media(min-width: 517px) and (max-width: 522px){
    .range-labels{margin:18px -19px 0 !important;}
    .range-labels li{width: 66.25px !important;}
    }
    @media(min-width: 523px) and (max-width: 529px){
    .range-labels{margin:18px -19px 0 !important;}
    .range-labels li{width: 67.25px !important;}
    }
    @media(min-width: 530px) and (max-width: 537px){
    .range-labels{margin:18px -19px 0 !important;}
    .range-labels li{width: 68.25px !important;}
    }
    @media(min-width: 538px) and (max-width: 540px){
    .range-labels{margin:18px -19px 0 !important;}
    .range-labels li{width: 69.25px !important;}
    }
    @media(min-width: 541px) and (max-width: 548px){
    .range-labels{margin:18px -24px 0 !important;}
    .range-labels li{width: 70.25px !important;}
    }
    @media(min-width: 549px) and (max-width: 555px){
    .range-labels{margin:18px -22px 0 !important;}
    .range-labels li{width: 71.25px !important;}
    }
    @media(min-width: 556px) and (max-width: 562px){
    .range-labels{margin:18px -22px 0 !important;}
    .range-labels li{width: 72.25px !important;}
    }
    @media(min-width: 563px) and (max-width: 570px){
    .range-labels{margin:18px -22px 0 !important;}
    .range-labels li{width: 73.25px !important;}
    }
    @media(min-width: 571px) and (max-width: 575px){
    .range-labels{margin:18px -22px 0 !important;}
    .range-labels li{width: 74.25px !important;}
    }
    @media(min-width: 576px) and (max-width: 590px){
    .range-labels{margin:18px -33px 0 !important;}
    .range-labels li{width: 72.25px !important;}
    }
    @media(min-width: 591px) and (max-width: 767px){
    .range-labels{margin:18px -30px 0 !important;}
    .range-labels li{width: 72.25px !important;}
    }
    @media(min-width: 768px) and (max-width: 991px){
    .range-labels{margin:18px -34px 0 !important;}
    .range-labels li{width: 95.25px !important;}
    }
    @media(min-width: 992px) and (max-width: 1024px){
    .range{width: auto !important;}
    .range-labels{margin:18px -25px 0 !important;}
    .range-labels li{width: 69.25px !important;}
    }
